  <div id="introduction-images">
		  <div>
            <h2>BACKEND</h2>
            <img src="./assets/img/Backend_Circle.png" alt="Computer backend image" />
          </div>
          <div>
            <h2>FRONTEND</h2>
            <img src="./assets/img/Frontend_Circle.png" alt="Computer frontend image" />
          </div>
          <div>
            <h2>ANALYST</h2>
            <img src="./assets/img/Process_Circle.png" alt="Process flow image" />
          </div>
          <div>
            <h2>WRITER</h2>
            <img src="./assets/img/Write_Circle.png" alt="Writer image" />
          </div>
		</div>

        <h2 id="hire-status">Available For Hire!</h2>

        <p id="introduction-text"><Strong>Peter is passionate about building software solutions to solve commercial problems.</strong> Having never been one to shy away from a challenge has meant that the skills Peter has acquired are unusually broad. As a consequence Peter is one of those rare resources that can bridge the gap between technology and commerce. So if you are having a tough time in finding a highly skilled resource to help you with your business challenges then please read on.</p>
        <hr class="star-light">