  <p class="reference">"...a valuable addition to any company..."</p>
		<p class="reference">"...distinguished himself through his communication skills with both customers and company employees..."</p>
		<p class="reference">"...intelligent and has good analytical skills..."</p>
		<p class="reference">"...has knowledge of a multitude of subjects and is therefore very flexible and can tackle almost any problem..."</p>
		<p class="reference">"...is professional, with everything that that implies – good time keeping, trustworthiness, courtesy and strong work ethic..."</p>
		<p class="reference">"...I would urge any potential employer to not pass-up on the opportunity of utilising Peter’s skills, because he would certainly be a huge asset in any business or organisation..."</p>
        <h2 class="contact">Convinced? Get in touch!</h2>
        <hr class="star-dark">